.App {
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.App .container {
  display: block;
  text-align: center;
  max-width: 768px;
  margin: 20px auto;
  padding: 30px auto;
}

.App .Card {
  background: linear-gradient(
    118.6deg,
    rgb(18, 94, 183) 7.2%,
    rgb(154, 214, 212) 51.4%,
    rgb(255, 233, 171) 102.2%
  );
  filter: blur(0px);
  font-family: "Raleway", sans-serif;
  border: 5px outset #bdbdbd;
  border-radius: 10px;
  background-repeat: no-repeat;
  max-height: 100vh;
  padding: 40px 0 20px;
}
