.Footer {
  font-family: "Raleway", sans-serif;
  font-size: 9px;
  margin-left: 232px;
  color: #c0c0c0;
  opacity: 0.6;
  text-decoration: none;
  position: fixed;
}

.Footer a {
  color: #c0c0c0;
  opacity: 0.6;
  font-weight: bold;
}
