body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  background-color: #dbcbd8;
background-image: linear-gradient(316deg, #dbcbd8 0%, #2e4057 74%);

  background-repeat: no-repeat;
  height: "100%";
}

code {
  font-family: "Raleway", sans-serif;
}
