.currentTemperature {
  font-size: 60px;
  font-weight: 500;
  color: #ffffff;
}

.units {
  display: inline-block;
  color: #ffffff;
  opacity: 0.8;
  font-size: 30px;
}

.units:visited {
  color: #ffffff;
  opacity: 0.8;
}