.UnitConversion .currentTemperature {
  font-size: 60px;
  font-weight: 500;
  color: #ffffff;
}

.UnitConversion a,
.UnitConversion .units {
  display: inline-block;
  color: #ffffff;
  opacity: 0.8;
  font-size: 30px;
  text-decoration: none;
}

.UnitConversion .units a:hover {
  color: silver;
  text-decoration: none;
}

.UnitConversion a:visited {
  color: #ffffff;
  opacity: 0.8;
}
